
.feed-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}


.nav-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icons{
margin: 0.5rem;
color: black;

}


.upload-btn{
    width: 15rem;
}

.videos-container{
    height: 80vh;
    /* border: 1px solid black; */
    border-radius: 15px;
    overflow-y: scroll;
    scrollbar-width: 0;
}

.videos-container::-webkit-scrollbar {
    display: none;
}

.post-container{
    height: 80vh;
    width: 20rem;
    margin-bottom: 0.6rem;
    position: relative;
    margin: 1px solid black;
}

.post-container > video{
    height: 80vh;
    width: 20rem;
    object-fit: contain;
    background-color: aqua;
    border-radius: 25px;
}

.videos-info{
    position: absolute;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;

}


.avatar_container{
  display:flex;
justify-content: flex-start;
  width:70%
}

.avatar_container  > p{
margin-left:0.7rem;
}

.post-like{
    height:3rem;
    width:20%;
    display:flex;
    flex-direction: column;
justify-content: space-between;
align-items: center;

}

@media only screen and (max-width:400px){
    .avatar_container{
        padding-left:1rem;
    }
}

@media only screen and (max-width:500px){
    .nav-icons-container{
        display:none;
    }
}
