.signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    text-align: center;
    flex-direction: column;
}

.signup-card{
    width: 25rem;
    height : 25rem;
    border: 1px solid #ccc;
    padding: 1rem ;
}

.bottom-card{
    width: 25rem;
    height : 5rem;
    padding: 1rem;
    border:  1px solid #ccc;;
    margin-top: 1rem ;
}

@media only screen and (max-width:500px){
    .login-card{
       width: 100%;
    }
    .bottom-card{
        width: 100%;
    }
}